---
layout: page
---
{{ content }}
{%- assign current_lang = page.lang | default: "fi" -%}
{%- assign posts = site.posts | where: "lang", current_lang -%}
{%- if current_lang == "en" -%}
  {%- assign date_format = "%b %-d, %Y" -%}
  {%- assign read_more = "Read more" -%}
  {%- assign feed_url = "/feed/en.xml" -%}
  {%- assign feed_text = "Subscribe via RSS" -%}
{%- else -%}
  {%- assign date_format = "%-d.%-m.%Y" -%}
  {%- assign read_more = "Lue lisää" -%}
  {%- assign feed_url = "/feed.xml" -%}
  {%- assign feed_text = "Tilaa RSS-syöte" -%}
{%- endif -%}
<ul class="posts-list list-unstyled" role="list">
  {% for post in posts %}
  <li class="post-preview">
    <article>
      <a href="{{ post.url | relative_url }}"><h2 class="post-title">{{ post.title | escape }}</h2></a>
      <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: date_format }}</time></p>
      {% if site.feed_show_excerpt %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | truncatewords: site.excerpt_length }}
        <a href="{{ post.url | relative_url }}" class="post-read-more">[{{ read_more }}]</a>
      </div>
      {% endif %}
    </article>
  </li>
  {% endfor %}
</ul>
<p class="rss-subscribe"><a href="{{ feed_url | relative_url }}">{{ feed_text }}</a></p>
